<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558784140300-bpd5n59pudugc7ttdhlmceqviu3ofgm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558784140300-bpd5n59pudugc7ttdhlmceqviu3ofgm5</string>
	<key>API_KEY</key>
	<string>AIzaSyCD2FA0L9iVidnlRYFFMyQf2NJNO5eLU_g</string>
	<key>GCM_SENDER_ID</key>
	<string>558784140300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akvilonmobile</string>
	<key>PROJECT_ID</key>
	<string>akvilon-99fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>akvilon-99fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558784140300:ios:1a65d70f6978d3384b0a29</string>
</dict>
</plist>